/*nav*/
nav {
    height: 80px;
    width: auto;
    background-color: #bbdfb0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    width: auto;
    height: 75px;
    margin: 16px;
}

.nav-menu img {
   width: 35px;
   height: 35px;
   padding: 20px;
}

/*dropdown container*/
.dropdown,
.dropdown-1 {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-content-1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/*dropdown link*/
.dropdown-content a,
.dropdown-content-1 a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin: 10px 0px;
  }

.dropbtn,
.dropbtn-1 {
    background-color: #bbdfb0;
    color: white;
    font-size: 20px;
    border: none;
    margin: 40px;
  }

.dropdown-content a:hover {background-color: #bbdfb0;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: #3e8e41;}

.dropdown-content-1 a:hover {background-color: #bbdfb0;}
.dropdown-1:hover .dropdown-content-1 {display: block;}
.dropdown-1:hover .dropbtn-1 {color: #3e8e41;}

.show,
.show-1 {
    display: block;
}

html, body {
   margin: 0;
   padding: 0%;
   height: 100%;
}
#body-wrapper {
    min-height: 100%;
    position: relative;
}
#body-content {
    padding-bottom: 300px;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: #bbdfb0;
}

.nav-item {
    padding: 28px 17px;
    font-weight: 700px;
}

/* main */
.main-head {
    font-size: 146px;
    line-height: 166px;
    color: white;
    font-weight: 900;
    position:relative;
    left: 225px;
}
.main-first {
    position:relative;
    left: -2.5em;
}
.main-second {
    color: white;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
    text-align: center;
}
.main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-flex img {
    width: 200px;
    height: 200px;
    margin: 30px;
}
.main-flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-flex2 img {
    width: 150px;
    height: 80px;
    margin: 0 55px 30px 65px;
}
.main img{
    width: 100%;
    height: 600px;
    align-content: center;
}

/*footer*/
footer {
    background-color: #bbdfb0;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0; 
    left: 0;
}
.footer-flex img {
    width: 80px;
    height: 80px;
    margin: 30px;
}
.footer-flex {
    display: flex;
    justify-content: center;
}
.footer-last {
    text-align: center;
    padding-bottom: 30px;
    color:white;
}
.footer-last p {
    margin: 5px;
}

/* about this*/
.about-pag {
    width: 1200px;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0%);
}
.about-this-main img {
    width: 70px;
    height: 70px;
    margin-top: 100px;
    margin-left: 100px;
}
.about-this-main h1 {
    margin-left: 100px;
    color: #bbdfb0;
    margin-bottom: 10px;
    font-size: 60px;
}

.about-this-main h3 {
    margin-left: 100px;
    color: #5d5d5d;
    margin-top: 0;
}
.about-this-about h1 {
    margin-left: 100px;
    color: #403e3e;
    margin-bottom: 50px;
    margin-top: 200px;
    font-size: 50px;
}

.about-this-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 60px 0;
  
}
.about-this-aboutthis {
    width: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #bbdfb0;
}
.about-this-content {
    width: 450px;
    font-size: 25px;

}
.border {
    border-bottom: solid 1px;
    color: #403e3e;
    margin: 20px 0;
}




.about-this-abouttitle {
    font-size: 30px;
    margin-top: 80px;
    color: #403e3e;
}

.about-this-thisflex {
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
.aboutthis-title {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #bbdfb0;
}
.aboutthis-border {
    border-bottom: solid;
    height: 3px;
    color: #bbdfb0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.aboutthis-expalain {
    text-align: center;
}





